* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: url('./img/starfall-gif-46.gif') no-repeat center center/cover;
  height: 100vh;
}

@media (max-width: 500px) {
  body {
    height: 100vh;
  }
}